{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} - {{ squirrel.unique_squirrel_id }}{% endblock %}

{% block main %}
<h1 text-align:center>Create a New Sighting</h1>

<div class='topnav'>
    <a href="/sightings/">Skim Through All Sightings</a>
    <a href="/sightings/add/">Add New Sightings</a>
    <a href="/sightings/stats/">General Stats About Sightings</a>
</div>
<p>
<form action="" method="post">{% csrf_token %}
    <table align="center">{{ form }}</table>
    <br>
    <div class="button">
        <input type="submit" class='button' value="Submit" style="height:100px;width:100px">
    </div>
</form>

</p>{% endblock %}
{% block extra_footer %}
{% endblock %}
